.new-tweet {
  align-self: center;
  display: flex;
  flex-direction: column;

}
.new-tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 300;
}
.new-tweet textarea {
  width: 100%;
  border:none;
  border-bottom: 2px solid;
  background-color: transparent;
}
.new-tweet button {
  
  color: white;
  background-color: #4056A1;
  border: none;
}